<div *ngIf="residence" class="details-container">
    <div class="image-section">
      <img [src]="residence.image" [alt]="residence.name">
    </div>
  
    <div class="info-section">
      <h1>{{ residence.name }}</h1>
      <p><strong>Adresse:</strong> {{ residence.address }}</p>
      <p><strong>Status:</strong> <span [ngClass]="getStatusClass(residence.status)">{{ residence.status }}</span></p>
      <button (click)="goBack()">Retour</button>
      <button *ngIf="nextResidenceId" (click)="goToNextResidence()">Suivant</button>

  
      <!-- Add Update and Add buttons -->
      <button routerLink="/add-residence">Ajouter Résidence</button> 
      <button [routerLink]="['/update-residence', residence.id]">Mettre à jour Résidence</button>
      <a [routerLink]="['/apartments-by-residence', residence.id]">Appartements List</a>  <!-- New link -->

    </div>
  </div>
  
  <!-- If the residence is not found -->
  <div *ngIf="!residence" class="not-found">
    <h2>Résidence non trouvée</h2>
    <button (click)="goBack()">Retour</button>
  </div>
  